
.title-container{
    background-image: url(/assets/home.png);
    background-size: cover;
    height: 80vh;
    width: 90%;
    margin: 4% auto;
    text-align: center;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        

        h1{
            font-size: 4rem;
            color: white;
            margin-bottom: 1%;
        }

        button{
            font-size: 1.8rem;
            width: 9%;
            padding: 1%;
            border-radius: 5px;
            box-shadow: 2px 2px 2px rgba(0,0,0,.5);
            cursor: pointer;
        }
    }

    hr{
        margin: 3% 0;
    }
}


.artists-container{
    width: 90%;
    margin: 5.5% auto;
    display: flex;
    justify-content: space-around;

    .artist{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;

        a{
            font-size: 2.4rem;
            text-decoration: none;
            color: @greyMain;
            padding: 5%;
        }

        div{
            font-size: 1.8rem;
        }
    }

    img{
        width: 70%;
        height: 350px;
        border-radius: 8px;
        object-fit: cover;
    }
}