
.displayCenterColumn(){
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resetATag(){
    color: @greyMain;
    text-decoration: none;
}

.btnContact(@width){
    font-size: 1.8rem;
    width: @width;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    cursor: pointer;
}